<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="Angular Routes" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions >
              <!--<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />-->
              <!-- Filtyper som skal utelukkes  -->
              <!--  
                Linjen under (IsFile) kan benyttes som substitutt for alle filtype-eksklusjoner under, 
                hvis en benytter en nyere IIS server med nyeste URL rewrite:
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              -->
              <add input="{REQUEST_URI}" pattern="/(.*).js" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).ico" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).css" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).woff" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).ttf" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).txt" negate="true" />
              <add input="{REQUEST_URI}" pattern="/(.*).svg" negate="true" />
              <!-- Kataloger og URLer som brukes av applikasjonnen som skal utelukkes -->
              <add input="{REQUEST_URI}" pattern="/account(.*)" negate="true"/>
              <add input="{REQUEST_URI}" pattern="/assets(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="/api(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="/swagger(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="signin-callback" negate="true" />
              <add input="{REQUEST_URI}" pattern="signout-callback" negate="true" />
              <add input="{REQUEST_URI}" pattern="bruker(.*)" negate="true" />
              <add input="{REQUEST_URI}" pattern="Forbidden.html" negate="true" />
              <add input="{REQUEST_URI}" pattern="forbidden.html" negate="true" />
              <add input="{REQUEST_URI}" pattern="loggedout.html" negate="true" />
              <add input="{REQUEST_URI}" pattern="Error.html" negate="true" />
              <add input="{REQUEST_URI}" pattern="Statuscode.html" negate="true" />
            </conditions>
            <action type="Rewrite" url="dist/index.html" />
          </rule>
        </rules>
      </rewrite>
        <!-- Er default på IIS proper -->
      <!--<staticContent>
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>-->
    </system.webServer>

    <system.web>
    </system.web>
  </location>
</configuration>